.transaction-list {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

.transaction-heading{
  margin-bottom: 20px;
}

.transaction-heading h2 {
  font-weight: 500;
  margin-bottom: 5px;
}

.transaction-heading p {
  color: var(--text-color);
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table thead tr th {
  background-color: #f4f4f4e2;
}

.transaction-table thead tr th:first-child{
  border-radius: 10px 0px 0px 10px;
}

.transaction-table thead tr th:last-child{
  border-radius: 0px 10px 10px 0px;
}

.transaction-table th,
.transaction-table td {
  text-align: start;
  padding: 20px 10px;
}
